<div class="content-header">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-2">
      <h1 id="home">
        <span id="menu-toggle" (click)=openSideMenu($event); class="glyphicon glyphicon-align-justify btn-menu toggle">
            <!-- <i class="fa fa-bars"></i> -->
        </span>
        <!-- <span id="appName">PHARMTECH</span> -->
      </h1>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-10 text-right userCon">
      <span id="userProfile">{{ userSession.userName+' ('+userSession.userRole+')' }}</span>
      
      <!-- Our Special dropdown has class show-on-hover -->
      <div id="profileButton" class="btn-group show-on-hover">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-user fa-lg"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a>My Profile</a></li>
          <li class="divider"></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
      
      <!-- <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            
            <a (click)=showDropDown($event); class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-user fa-lg"></span>
              <span class="caret"></span>
            </a>
            <ul id="dropdownMenu" class="dropdown-menu collapse" role="menu">
              <li><a>My Profile</a></li>
              <li class="divider"></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </li>
      </ul> -->
      
  </div>  
</div>