.content-header {
    height: 50px;
    // line-height: 50px;    
    background: #29f1c3;
    padding: 2px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    // line-height: 50px;
    display: inline-block;
}

#menu-toggle {
    text-decoration: none;
    color: black;
    position: relative;
    left: -10px;
    font-size: 30px;
    top: 5px;
}

#appName {
    font-size: 25px;
    color: black;
    margin: auto;
}

.navbar-right {
    margin-right: -15px;
    left: -30px;
    position: relative;
    top: -5px;
}

.dropdown-menu {
    display: inline-block;
    z-index: 1000;
}

#dropdownMenu.collapse {
    display: none;
}

@media (max-width:767px) {
    #menu-toggle {
        display: inline-block;
    }

    .navbar-right {
        float: right;
        left: -20px;
    }

    .navbar-nav > li > .dropdown-menu {
        left: -70px;
    }
}