<div class="header">
    <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                <li><a href="#">Test Profile</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
    </ul>
</div>
<!-- <div class="body">
    <div class="navigation-bar">
        <ul>
            <li (click)="onClick('inventory')">Inventory</li>
            <li (click)="onClick('eprescription')">E-prescription</li>
        </ul>
    </div>
    <div class="viewDiv">
        <app-menuview [menuSelected]="menuSelected"></app-menuview>
    </div>
</div> -->
