<div class="container">  
    <!-- view all -->
    <h2>List of Users</h2>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <button routerLink="/menu/users">< Back</button>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right">
                            <button (click)="addNewUser()">ADD USER</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body main">
                    <div class="row">             
                        <!-- <br><br> -->                        
                        <div class="col-md-7">
                            <div id="information" class="panel panel-default">
                                <div class="panel-heading">User Personal Information</div>
                                <div class="panel-body">
                                    <form [formGroup]="userForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="validate-text">First Name</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userFname"
                                                        placeholder="First Name">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Middle Name</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userMname"
                                                        placeholder="Middle Name">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Last Name</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userLname"
                                                        placeholder="Last Name">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <!-- <label for="validate-text">Gender</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userGender"
                                                        placeholder="Gender">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div> -->
                                                <label for="validate-select">Gender</label>
                                                <div class="input-group">
                                                    <select 
                                                        class="form-control" 
                                                        name="validate-select" 
                                                        id="validate-select" 
                                                        placeholder="Validate Select"
                                                        formControlName="userGender">
                                                        <option value="">Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>                                                
                                                <label for="validate-text">Citizenship</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userCitizenship"
                                                        placeholder="Citizenship">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="validate-text">Birthdate</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userBirthdate"
                                                        placeholder="userBirthdate">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Contact No.</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userContactNo"
                                                        placeholder="Contact No.">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Role</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userRole"
                                                        placeholder="Role">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">License No.</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userLicenseNo"
                                                        placeholder="License No.">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="validate-text">Address</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userAddress"
                                                        placeholder="Address">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="credential" class="panel panel-default">
                                        <div class="panel-heading">User Login Credentials</div>
                                        <div class="panel-body">
                                            <form [formGroup]="userForm">
                                                <label for="validate-text">Username</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userName"
                                                        placeholder="Username">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Password</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="userPassword"
                                                        placeholder="Password">
                                                    <span class="input-group-addon danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="privilege" class="panel panel-default">
                                        <div class="panel-heading">User Privileges</div>
                                        <div class="panel-body">
                                            <form [formGroup]="privilegeForm">
                                                <input type="checkbox" formControlName="priDashboard">
                                                <label for="">Dashboard</label>
                                                <br>
                                                <input type="checkbox" formControlName="priUser">
                                                <label for="">User</label>
                                                <br>
                                                <input type="checkbox" formControlName="priInventory">
                                                <label for="">Inventory</label>
                                                <br>
                                                <input type="checkbox" formControlName="priManage">
                                                <label for="">Manage</label>
                                                <br>
                                                <input type="checkbox" formControlName="priPatientManagement">
                                                <label for="">Patient Management</label>
                                                <br>
                                                <input type="checkbox" formControlName="priPharmacyCorner">
                                                <label for="">Pharmacy Corner</label>
                                                <br>
                                                <input type="checkbox" formControlName="priNotification">
                                                <label for="">Notification</label>
                                                <br>
                                                <input type="checkbox" formControlName="priPos">
                                                <label for="">POS</label>
                                                <br>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel-footer">
                    <button (click)="addNewUser()">ADD USER</button>
                </div> -->
            </div>
            
        </div>
    </div>  
    
</div>



