<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-10 col-xs-offset-1">
            <div class="loginPanel">
                <div class="login">
                    <form>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input class="inputStyle form-control" type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input class="inputStyle form-control" type="password" name="password" placeholder="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <input 
                                    class="btn btn-info btn-md loginButton" 
                                    type="button" 
                                    name="loginbutton" 
                                    value="LOGIN"
                                    (click)="sampleLogin()"
                                >
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <br>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span class="forgotPassword">Forgot Password? </span>
                            <span> | </span>
                            <span class="register">Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
