<div class="container">  
    <!-- view all -->
    <h2>Location Detail</h2>
    
    <div *ngIf="this.locDetails != null" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <button 
                                class="btn btn-sm btn-default" 
                                (click)="back()">< Back</button>
                            <div id="otherDetailsDiv">
                                <span>
                                    {{ 'Created: '+locDetails.locCreatedBy+' | '+locDetails.locCreatedOn }}
                                </span>
                                <span *ngIf="locDetails.locModifiedOn != null">
                                    {{ 'Modified: '+locDetails.locModifiedBy+' | '+locDetails.locModifiedOn }}
                                </span>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 text-right buttons">                            
                            <button 
                                [ngClass]="stillUpdatingLocation?'m-progress':''"
                                class="btn btn-sm btn-warning"
                                [disabled]="(locForm.touched && locForm.valid)?false:true"
                                (click)="updateLocation()">
                                <em class="fa fa-pencil"></em> Update</button>
                            <button 
                                [ngClass]="stillDeletingLocation?'m-progress':''"
                                class="btn btn-sm btn-danger"
                                (click)="deleteLocation()">
                                <em class="fa fa-trash"></em> Delete</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">             
                        <!-- <br><br> -->                        
                        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div id="information" class="panel panel-default">
                                <div class="panel-heading">Location Information</div>
                                <div class="panel-body">
                                    <form [formGroup]="locForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="validate-text">Name</label>
                                                <div class="input-group">
                                                    <input 
                                                        [value] = "this.nameInput.value | titlecase"
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="name"
                                                        placeholder="Name">
                                                    <span 
                                                        [ngClass]="this.nameInput.invalid?'danger':'success'"
                                                        class="input-group-addon">
                                                        <span 
                                                            [ngClass]="this.nameInput.invalid?'glyphicon-remove':'glyphicon-ok'"
                                                            class="glyphicon"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Description</label>
                                                <div class="input-group" data-validate="length" data-length="5">
                                                    <textarea 
                                                        [value] = "this.descriptionInput.value | titlecase"
                                                        type="text" 
                                                        class="form-control" 
                                                        name="validate-length" 
                                                        id="description" 
                                                        placeholder="Description"
                                                        formControlName="description"></textarea>
                                                    <span 
                                                        [ngClass]="this.descriptionInput.invalid?'danger':'success'"
                                                        class="input-group-addon">
                                                        <span 
                                                            [ngClass]="this.descriptionInput.invalid?'glyphicon-remove':'glyphicon-ok'"
                                                            class="glyphicon"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Latitude</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="latitude"
                                                        placeholder="Latitude">
                                                    <span 
                                                        [ngClass]="this.latitudeInput.invalid?'danger':'info'"
                                                        class="input-group-addon">
                                                        <span 
                                                            [ngClass]="this.latitudeInput.invalid?'glyphicon-remove':'glyphicon-asterisk'"
                                                            class="glyphicon"></span>
                                                    </span>
                                                </div>
                                                <br>
                                                <label for="validate-text">Longitude</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="longitude"
                                                        placeholder="Longitude">
                                                    <span 
                                                        [ngClass]="this.longitudeInput.invalid?'danger':'info'"
                                                        class="input-group-addon">
                                                        <span 
                                                            [ngClass]="this.longitudeInput.invalid?'glyphicon-remove':'glyphicon-asterisk'"
                                                            class="glyphicon"></span>
                                                    </span>
                                                </div>
                                            </div>                                            
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-popup></app-popup> -->