<!-- if not logged in -->
<!-- <div *ngIf="user_session == null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div id="login-wrapper">
        <app-login></app-login>
    </div>
</ng-template> -->

<!-- if logged in -->
<!-- <ng-template #elseBlock>
    <div id="wrapper">
        <div id="modal-screen"></div> -->
        <!-- Sidebar -->
        <!-- <app-side-menu></app-side-menu> -->
        <!-- Page content -->
        <!-- <div id="page-content-wrapper">
            <app-header></app-header>
            <app-menuview selected="users"></app-menuview>
        </div>
    </div>
</ng-template> -->
<router-outlet></router-outlet>


