<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4
                    col-sm-8 col-sm-offset-2
                    col-xs-12
                    ">
            <div class="loginPanel">
                <div class="login">
                    <div id="title">{{ title }}</div>
                    <div *ngIf="view=='login'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <form [formGroup]="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">                                        
                                        <div 
                                            [ngClass]="warning != null?'alert-danger':''" 
                                            class="alert warningMessage">{{ warning }}
                                        </div>
                                        <input 
                                            formControlName="username"
                                            class="inputStyle form-control" 
                                            type="text" 
                                            name="username" 
                                            placeholder="Username"
                                            (click)="resetWarningMessage();"
                                            (keyup.enter)="login()"
                                        >                                    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="input-group inputStyle">
                                            <input 
                                                id="loginPassword"
                                                type="password" 
                                                class="form-control" 
                                                formControlName="password"
                                                placeholder="Password"
                                                (click)="resetWarningMessage();"
                                                (keyup.enter)="login()">
                                            <span
                                                (click)="changeLoginPassword()" 
                                                class="input-group-addon">
                                                <span 
                                                    [ngClass]="showLoginPassword?'glyphicon-eye-open':'glyphicon-eye-close'"
                                                    class="glyphicon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <input 
                                            class="btn btn-info btn-md loginButton" 
                                            type="button" 
                                            name="loginbutton" 
                                            value="LOGIN"
                                            (click)="login()"
                                        >
                                    </div>
                                </div>
                            </div>                        
                        </form>
                        <div class="row">
                            <br>
                            <div class="col-sm-10 col-sm-offset-1">
                                <span class="forgotPassword">Forgot Password? </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #elseBlock>
                        <form [formGroup]="resetPassword">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div 
                                            [ngClass]="resetPasswordWarning != null?'alert-danger':''" 
                                            class="alert warningMessage">
                                            {{ resetPasswordWarning }}
                                        </div>
                                        <!-- <div 
                                            *ngIf="resetPasswordWarning != null" 
                                            class="alert alert-danger warningMessage">
                                            {{ resetPasswordWarning }}
                                        </div>                                         -->
                                        <!-- <input class="inputStyle form-control" 
                                            formControlName="newpassword"
                                            type="password" 
                                            name="newpassword" 
                                            placeholder="New password"
                                            (click)="resetWarningMessageInReset();"
                                            (keyup.enter)="confirmNewPassword()"
                                            autocomplete="false off new-password"
                                        > -->
                                        <div class="input-group inputStyle">
                                            <input 
                                                id="newPassword"
                                                type="password" 
                                                class="form-control" 
                                                formControlName="newpassword"
                                                placeholder="New Password"
                                                (click)="resetWarningMessageInReset();"
                                                (keyup.enter)="confirmNewPassword()">
                                            <span
                                                (click)="changeNewPassword()" 
                                                class="input-group-addon">
                                                <span 
                                                    [ngClass]="showNewPassword?'glyphicon-eye-open':'glyphicon-eye-close'"
                                                    class="glyphicon"></span>
                                            </span>
                                        </div>                                  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <!-- <input class="inputStyle form-control" 
                                            formControlName="confirmpassword"
                                            type="password" 
                                            name="confirmpassword" 
                                            placeholder="confirm password"
                                            (click)="resetWarningMessageInReset();"
                                            (keyup.enter)="confirmNewPassword()"
                                            autocomplete="off"
                                        > -->
                                        <div class="input-group inputStyle">
                                            <input 
                                                id="confirmPassword"
                                                type="password" 
                                                class="form-control" 
                                                formControlName="confirmpassword"
                                                placeholder="Confirm Password"
                                                (click)="resetWarningMessageInReset();"
                                                (keyup.enter)="confirmNewPassword()">
                                            <span
                                                (click)="changeConfirmPassword()" 
                                                class="input-group-addon">
                                                <span 
                                                    [ngClass]="showConfirmPassword?'glyphicon-eye-open':'glyphicon-eye-close'"
                                                    class="glyphicon"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <input 
                                            class="btn btn-info btn-md loginButton" 
                                            type="button" 
                                            name="loginbutton" 
                                            value="CONFIRM NEW PASSWORD"
                                            (click)="confirmNewPassword()"
                                        >
                                    </div>
                                </div>
                            </div>                        
                        </form>
                    </ng-template>
                                        
                </div>
            </div>
        </div>
    </div>
</div>
