<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4
                    col-sm-8 col-sm-offset-2
                    col-xs-10 col-xs-offset-1
                    ">
            <div class="loginPanel">
                <div class="login">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div 
                                        id="loginWarning"
                                        *ngIf="warning != null" 
                                        class="alert alert-danger">{{ warning }}
                                    </div>
                                    <input 
                                        formControlName="username"
                                        class="inputStyle form-control" 
                                        type="text" 
                                        name="username" 
                                        placeholder="Username"
                                        (click)="resetWarningMessage();"
                                        (keyup.enter)="login()"
                                    >                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input class="inputStyle form-control" 
                                        formControlName="password"
                                        type="password" 
                                        name="password" 
                                        placeholder="password"
                                        (click)="resetWarningMessage();"
                                        (keyup.enter)="login()"
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input 
                                        class="btn btn-info btn-md loginButton" 
                                        type="button" 
                                        name="loginbutton" 
                                        value="LOGIN"
                                        (click)="login()"
                                    >
                                </div>
                            </div>
                        </div>                        
                    </form>
                    <div class="row">
                        <br>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span class="forgotPassword">Forgot Password? </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
