<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'> -->

<div class="container">  
      <!-- view all -->
      <h2>List of Users</h2> 
        <div class="row">                
            <!-- <br><br> -->
            <div class="col-md-12">
              <div class="panel panel-default panel-table">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-12">
                      <div id="search_container"> 
                        <span>Search</span>
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                      </div>
                    </div> 
                    <div class="col-md-7 col-xs-12 col-sm-12">
                      <div class="row" id="options">
                        <div *ngIf="userSession.userRole == 'Super Admin'" class="col-md-4 col-sm-12 col-xs-12">
                          <div id="location-container">
                            <span>Location</span>
                            <select 
                              class="form-control" 
                              name="validate-select" 
                              placeholder="Validate Select">
                              <option value="">Active</option>
                              <option value="Admin">New User</option>
                              <option value="Pharmacist">Locked</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                          <div id="category-container">
                            <span>Stat</span>
                            <select 
                                class="form-control" 
                                name="validate-select" 
                                placeholder="Validate Select">
                                <option value="">Active</option>
                                <option value="Admin">New User</option>
                                <option value="Pharmacist">Locked</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                          <div id="role-container">
                            <span>Role</span>
                            <select 
                                class="form-control" 
                                name="validate-select" 
                                placeholder="Validate Select">
                                <option value="">Active</option>
                                <option value="Admin">New User</option>
                                <option value="Pharmacist">Locked</option>
                            </select>
                          </div>
                          
                        </div>
                      </div>
                      
                    </div>           
                    <div class="col-md-2 col-xs-12 col-sm-12 text-right">
                      <button type="button" class="btn btn-sm btn-primary btn-create" 
                      routerLink="/menu/users/adduser">
                      <em class="fa fa-plus"></em> Create</button>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-bordered table-list">
                    <thead>
                      <tr *ngIf="users != null">
                        <th width="10%" class="visible-xs">
                          <input type="checkbox">
                        </th>
                        <th width="10%" class="hidden-xs"><em class="fa fa-cog"></em></th>
                        <th width="15%">Username</th>
                        <th width="30%">Fullname</th>
                        <th class="hidden-xs" width="15%">Gender</th>
                        <th class="hidden-xs" width="10%">Age</th>
                        <th width="20%">Role</th>
                        <th *ngIf="userSession.userRole == 'Super Admin'" width="20%">Location</th>
                      </tr> 
                    </thead>
                    <tbody>
                      <div *ngIf="users == null; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <tr>
                          <td colspan="6" class="text-center">No data</td>
                        </tr>                      
                      </ng-template>
                      <ng-template #elseBlock>
                        <tr *ngFor="let user of users">
                          <td class="visible-xs">
                            <input type="checkbox">
                          </td>
                          <td class="text-center hidden-xs">
                            <a [routerLink]="['/menu/users/userdetail',user.userId]" class="btn btn-primary"><em class="fa fa-eye"></em></a>
                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                          </td>
                          <td><span>{{ user.userName }}</span></td>
                          <td><span>{{ user.userLname + ', '+ user.userFname+' '+(user.userMname | middlename) }}</span></td>
                          <td class="hidden-xs">
                            <span>{{ user.userGender }}</span>
                          </td>
                          <td class="hidden-xs"><span>{{ user.userBirthdate | age }}</span></td>
                          <td><span>{{ user.userRole }}</span></td>
                          <td *ngIf="userSession.userRole == 'Super Admin'"><span>{{ user.locName }}</span></td>
                        </tr>
                      </ng-template>
                      
                    </tbody>
                  </table>
              
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col col-xs-6">Page 1 of 5
                    </div>
                    <div class="col col-xs-6">
                      <ul class="pagination hidden-xs pull-right">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                      <ul class="pagination visible-xs pull-right">
                          <li><a href="#">«</a></li>
                          <li><a href="#">»</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  