<div class="container">  
    <!-- view all -->
    <h2>Concentration Detail</h2>
    
    <div *ngIf="this.conDetails != null" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <button 
                                class="btn btn-sm btn-default" 
                                (click)="back()">< Back</button>
                            <div id="otherDetailsDiv">
                                <span>
                                    {{ 'Created: '+conDetails.conCreatedBy+' | '+conDetails.conCreatedOn }}
                                </span>
                                <span *ngIf="conDetails.conModifiedOn != null">
                                    {{ 'Modified: '+conDetails.conModifiedBy+' | '+conDetails.conModifiedOn }}
                                </span>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 text-right buttons">                            
                            <button 
                                [ngClass]="stillUpdatingConcentration?'m-progress':''"
                                class="btn btn-sm btn-warning"
                                [disabled]="(conForm.touched && conForm.valid)?false:true"
                                (click)="updateConcentration()">
                                <em class="fa fa-pencil"></em> Update</button>
                            <button 
                                [ngClass]="stillDeletingConcentration?'m-progress':''"
                                class="btn btn-sm btn-danger"
                                (click)="deleteLocation()">
                                <em class="fa fa-trash"></em> Delete</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">             
                        <!-- <br><br> -->                        
                        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div id="information" class="panel panel-default">
                                <div class="panel-heading">Concentration Information</div>
                                <div class="panel-body">
                                    <form [formGroup]="conForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="validate-text">Value</label>
                                                <div class="input-group">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        formControlName="value"
                                                        placeholder="Value">
                                                    <span 
                                                        [ngClass]="this.valueInput.invalid?'danger':'success'"
                                                        class="input-group-addon">
                                                        <span 
                                                            [ngClass]="this.valueInput.invalid?'glyphicon-remove':'glyphicon-ok'"
                                                            class="glyphicon"></span>
                                                    </span>
                                                </div>
                                            </div>                                            
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-popup></app-popup> -->