<div id="sidebar-wrapper">
    <div class="nav-side-menu">
        <div class="brand">{{ 'Pharmtech '+userSession.userLocName }}</div>
        <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
    
            <div class="menu-list">
    
                <ul id="menu-content" class="menu-content out">
                    <li [ngClass]="userPrivilege.priDashboard==false?'hidden':''" 
                        routerLink="dashboard" 
                        routerLinkActive="active">
                        <a>
                            <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        </a>
                    </li>
                    <li [ngClass]="userPrivilege.priUser==false?'hidden':''"
                        routerLink="users" 
                        routerLinkActive="active">
                        <a>
                            <i class="fa fa-users fa-lg"></i> Users
                        </a>
                    </li>
                    <li [ngClass]="userPrivilege.priInventory==false?'hidden':''"
                        routerLink="inventory" 
                        routerLinkActive="active">
                        <a>
                            <i class="fa fa-database fa-lg"></i> Inventory
                        </a>
                    </li>
                    <li 
                        [ngClass]="userPrivilege.priManage==false?'hidden':''"
                        [ngClass]="isManage?'active':''"
                        data-toggle="collapse" 
                        data-target="#others" 
                        class="collapsed">
                        <a><i class="fa fa-cogs fa-lg"></i> Manage <span class="arrow"></span></a>
                        </li>
                        <!-- <ul class="sub-menu collapse" id="others"> -->
                        <ul class="sub-menu" id="others">
                            <!-- <li class="active"><a href="#">Concentration</a></li> -->
                            <li routerLink="concentrations"
                                routerLinkActive="active"><a>Concentration</a></li>
                            <li routerLink="discounts"
                                routerLinkActive="active"><a>Discount</a></li>
                            <li routerLink="dosages"
                                routerLinkActive="active"><a>Dosage Form</a></li>
                            <li routerLink="drugallergy"
                                routerLinkActive="active"><a>Drug Allergy & Class</a></li>
                            <li routerLink="locations"
                                routerLinkActive="active"><a>Location</a></li>
                            <li routerLink="manufacturers"
                                routerLinkActive="active"><a>Manufacturer</a></li>
                            <li routerLink="restrictions"
                                routerLinkActive="active"><a>Restriction</a></li>
                            <li routerLink="strengths"
                                routerLinkActive="active"><a>Strength</a></li>
                            <li routerLink="uoms"
                                routerLinkActive="active"><a>Unit of measure</a></li>
                        </ul>
                    <li routerLink="patient-management" 
                        routerLinkActive="active">
                        <a>
                            <i class="fa fa-desktop fa-lg"></i> Patient Management
                        </a>
                    </li>
                    <li [ngClass]="userPrivilege.priPharmacyCorner==false?'hidden':''">
                        <a href="#">
                            <i class="fa fa-medkit fa-lg"></i> Pharmacy Corner
                        </a>
                    </li>                    
                    <li [ngClass]="userPrivilege.priNotification==false?'hidden':''">
                        <a href="#">
                            <i class="fa fa-bell fa-lg"></i> Notification
                        </a>
                    </li>
                    <li [ngClass]="userPrivilege.priPos==false?'hidden':''">
                        <a href="#">
                            <i class="fa fa-calculator fa-lg"></i> POS
                        </a>
                    </li>                    
                </ul>
        </div>
    </div>
</div>
