<div id="sidebar-wrapper">
    <div class="nav-side-menu">
        <div class="brand">Pharmtech</div>
        <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
    
            <div class="menu-list">
    
                <ul id="menu-content" class="menu-content out">
                    <li (click)="selectMenu('users')">
                        <a>
                            <i class="fa fa-users fa-lg"></i> Users
                        </a>
                    </li>
                    <li (click)="selectMenu('inventory')">
                        <a>
                            <i class="fa fa-database fa-lg"></i> Inventory
                        </a>
                    </li>
                    <li (click)=openSubmenu($event); data-toggle="collapse" data-target="#others" class="collapsed">
                        <a href="#"><i class="fa fa-cogs fa-lg"></i> Others <span class="arrow"></span></a>
                        </li>
                        <!-- <ul class="sub-menu collapse" id="others"> -->
                        <ul class="sub-menu collapse" id="others">
                            <!-- <li class="active"><a href="#">Concentration</a></li> -->
                            <li><a href="#">Concentration</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Dosage Form</a></li>
                            <li><a href="#">Drug Class</a></li>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Manufacturer</a></li>
                            <li><a href="#">Restriction</a></li>
                            <li><a href="#">Strength</a></li>
                            <li><a href="#">Unit of measure</a></li>
                        </ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop fa-lg"></i> Patient Management
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-medkit fa-lg"></i> Pharmacy Corner
                        </a>
                    </li>                    
                    <li>
                        <a href="#">
                            <i class="fa fa-bell fa-lg"></i> Notification
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-calculator fa-lg"></i> POS
                        </a>
                    </li>                    
                </ul>
        </div>
    </div>
</div>
